# Este archivo se utiliza para la instalación de dependencias.
# Una dependencia suele ser una biblioteca de 3º, a instalar en el sistema.

# Librerías estándar (no es necesario instalarlas)
# json, os